/* Make everything bigger */
button, textarea, input, h1 {
	font-family: monospace;
	font-size: 1.5rem;
}

/* Center content */
.container {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

textarea {
	width: 100%;
	height: 240px;
	box-sizing: border-box;
	resize: none;
	padding: 0.5em;
}

.encrypt_controls {
	text-align: right;
}
.transPattern {
	width: 80px;
}

button.send {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;	
	margin-bottom: 2em;	
	line-height: 1.5;
	padding: 0.3em 2em;
}

.text_results > div {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.text_results > * {
	font-size: 1.2rem;
	font-family: monospace;
}
span.score {
	margin-right: 1em;
}